conf/**
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache
*.ipynb
k8s-test
.ipynb_checkpoints
OLD_app.py
OLD_Data_generator.py
OLD_Report_generator.py
*.save
test*.html
*.xlsx
*.docx
Specification.txt
enchres_env/
env/
requirenments.txt
requirements.txt