/* styles.css */

/* body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.navbar {
    display: flex;
    background-color: #333;
    overflow: hidden;
}
.navbar a {
    padding: 14px 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.navbar a.active {
    background-color: #4CAF50;
    color: white;
} */


/* Style the footer */

/* Style the header */
header {
    background-color: #666;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
  }


footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }


body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
}

/* ################# NAVIGATION BAR ################# */
/* Navbar styling */
/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: #333;
  /* padding: 10px 0; */
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  align-items: center;
}

.navbar .nav_item {
  padding: 10px 15px;
  color: white;
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
  font-size: 14px; 
  transition: background-color 0.3s ease, color 0.3s ease; 
  border-radius: 5px;
  padding:12px;
}

.navbar .nav_item:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
  padding:12px;
  
}

.navbar .nav_item.active {
    background-color: #04AA6D;
    color: white;
    display: inline-block; /* Ensures the element respects box model adjustments */
    border-radius: 5px; /* Optional: smooths the corners */
    padding:12px;
}

 .navbar .dropdown {
  
    border-radius: 5px;  
} 
.navbar .dropdown:hover {
  background-color: #ddd !important;
}


/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
}

.dropdown-content a {
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Responsive layout */
@media (max-width: 768px) {
  .navbar {
      flex-direction: column; /* Stack the links vertically on smaller screens */
      align-items: center;
  }

  .navbar a {
      padding: 12px;
      font-size: 16px; /* Slightly larger text for easier readability on mobile */
  }

  .dropdown-content {
      left: 0;
      right: 0;
      transform: none; /* Ensure dropdown aligns correctly on mobile */
  }
}

@media (max-width: 480px) {
  .navbar a {
      padding: 10px;
      font-size: 14px; /* Smaller font for very small devices */
  }

  .dropdown-content a {
      font-size: 12px;
  }
}





.container {
    margin-top: 20px;
}

.message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.success {
    background-color: lightgreen;
}

.error {
    background-color: lightcoral;
}

.error_msg {
  background-color: lightcoral;
  color: rgb(0, 0, 0);
  padding:10px;
}

.success_msg {
  background-color: lightgreen;
  color: green;
}


.alert-warning {
  background-color: lightcoral;
  color: red;
}

#download-button {
    display: none;
}


/* ################# FRAIS ################# */
.container {
    max-width: 600px;
    margin: auto;
}


label {
    flex: 1;
    margin-right: 10px;
}

/* input[type="number"], select {
    flex: 2;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}  */
.flashing {
    background-color: yellow;
    animation: flash 1s infinite;
}
@keyframes flash {
    0% { background-color: yellow; }
    50% { background-color: lightgoldenrodyellow; }
    100% { background-color: yellow; }
}
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: #007BFF;
    text-decoration: underline;
    margin-left: 5px;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
#results {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* ---------------- Frais colapsible ------------------ */
details {
    margin-bottom: 20px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
}

details[open] summary {
    background-color: #e1e1e1;
}

.content {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fafafa;
}



/* ----------------------- Risques ----------------- */
h1 {
    text-align: center;
    color: #007BFF;
    margin-bottom: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.risk-section {
    margin-bottom: 20px;
}
.risk-title {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solutions {
    margin-top: 10px;
    padding-left: 20px;
    display: none;
}
.toggle-icon {
    font-size: 14px;
}

/* ------------------ les étapes d'une vente ----------------- */
.step-container {
    width: 90%;
    margin: 0 auto; 


}

.step h2 {
  cursor: pointer;
  background-color: #04AA6D;
  color:white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  transition: background-color 0.3s;
  opacity: 0.9;
}

.step h2:hover {
  background-color: #f1f1f1;
  color: #333;
}

.details {
    background-color: #ffffff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
    transition: max-height 0.4s ease-out;
}

.details p {
    margin-bottom: 10px;
}

.active {
    display: block;
}

/* 
.additional-info,
.summary {
    width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
 */
/* 
.additional-info h2,
.summary h2 {
    color: #007BFF;
} */

/* ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    list-style-type: none;
} */





/* ----------------------- Style spécifique pour l'annonce ----------------------- */
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }
        h1 {
            text-align: center;
            color: #04AA6D;
            margin-bottom: 20px;
        }

        .highlight {
          background-color: #f9f9f9;
          padding: 15px;
          border-radius: 5px;
          margin-bottom: 20px;
          border-left: 5px solid #04AA6D;
      }

      .highlight_sub {
          background-color: #f1f1f1;
          padding: 15px;
          border-radius: 5px;
          margin-bottom: 20px;
          /* border-left: 5px solid #04AA6D; */
      }


      h2, h3 {
          color: #04AA6D;
          margin-top: 0;
      }


        ul {
            padding-left: 20px;
            /* padding-top: 20px; */
        }

        ul ul, ul ul ul{
          padding-left: 20px;
          padding-top: 10px;
      }

        ul li {
            margin-bottom: 10px;
            list-style-type: none;
        }

        ul li li {
          margin-bottom: 10px;
          list-style-type: disc;
      }

      ul li li li {
        margin-bottom: 10px;
        list-style-type: circle;
    }
/* 
      .feelist {
          padding-left: 20px;
      }

      .feelist li {
          margin-bottom: 10px;
          list-style-type: disc;
      } */


        .cta {
            display: block;
            width: fit-content;
            margin: 20px auto;
            padding: 10px 20px;
            color: #fff;
            background-color: #e74c3c;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
        }
        .cta:hover {
            background-color: #c0392b;
        }

/* ----------------------- Style spécifique pour l'annonce ----------------------- */
* {
    box-sizing: border-box;
  }

  .columns_wrap {
    display:flex;
  }
  
  .columns {
    float: left;
    /* width: 33.3%; */
    width: 25%;
    padding: 8px;
  }
  
  .price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
  }
  
  .price .header {
    background-color: #111;
    color: white;
    font-size: 18px;
  }
  
  .price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
    list-style-type: none;
  }
  
  /* ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
    list-style-type: disc;
} */

  .price .grey {
    background-color: #eee;
    font-size: 20px;
  }
  
  .button {
    background-color: #04AA6D;
    /* background-color: #73a1b2; */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    width:25%;
    margin: 0 10% 0 10%;
  }

  @media only screen and (max-width: 727px) {
    .columns_wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .columns {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .columns_wrap {
      display: flex;
      flex-wrap: wrap;
    }
    .columns {
      width: 100%;
    }
  }


  /* ---------------------- CONTACT ---------------------- */
  /* body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  } */

  h1 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: #333;
  }

  input[type="text"], input[type="email"],input[type="number"],input[type=password],input[type=url], textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #f9f9f9;
  }

  textarea {
    height: 150px;
  }

  button {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  button:hover {
    background-color: #039f5c;
  }

  .info {
    margin-top: 20px;
    background-color: #e9e9e9;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }



  /*  ----------------- CONNEXION ----------------- */
  /* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }
   */
  /* Ajouter du padding aux conteneurs */
  .container {
    padding: 16px;
    background-color: white;
  }
  
  /* Flex container to align the forms side by side */
  .flex-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
  /* Adjust width and margin for the forms */
  form {
    background-color: white;
    border: 1px solid #f1f1f1;
    padding: 20px;
    margin: 10px;
    flex-basis: 30%;
    box-sizing: border-box;
  }
  
  /* Champs de saisie pleine largeur */
  input[type=text], input[type=password], input[type=email],input[type="number"],input[type=url] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type="number"]:focus input[type=url]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Modifier les styles par défaut de hr */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* Style pour les boutons */
  .registerbtn, .loginbtn, .resetbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .registerbtn:hover, .loginbtn:hover, .resetbtn:hover {
    opacity: 1;
  }
  
  /* Ajouter une couleur bleue aux liens */
  a {
    color: dodgerblue;
  }
  
  /* Définir un fond gris et centrer le texte dans la section "se connecter" */
  .signin {
    background-color: #f1f1f1;
    text-align: center;
  }


  /* # ####################### FLASH MESSAGE ####################################### */

  .flash-message {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    width: 450px;
    padding: 20px;
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #721c24;
}

ul {
    padding-left: 20px;
}

  /* # ####################### END FLASH MESSAGE ####################################### */

  .alert-container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
    z-index: 1000;
    transition: opacity 0.5s ease;
}
.alert {
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    opacity: 1;
    animation: fadeIn 0.5s, fadeOut 5s forwards; /* Fade in and out */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow for pop-up effect */
}
@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(-20px); }
    100% { opacity: 1; transform: translateY(0); }
}
@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}
.alert.success {
    background-color: #d4edda; /* Light green */
    color: #155724; /* Dark green */
}
.alert.error {
    background-color: #f8d7da; /* Light red */
    color: #721c24; /* Dark red */
}
.alert.info {
    background-color: #cce5ff; /* Light blue */
    color: #004085; /* Dark blue */
}


/* ############################## LOADER ############################"" */

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #04AA6D;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* ######################## PROFILE ################### */
.form-group {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 15px; */

  display: inline-block;
  align-items: center;
  margin: 0 2% 0 2%;
  width:45%
}

.form-group label {
  margin-bottom: 5px; /* Space between label and input */
}

/* ######################## PROFILE ################### */
.form-profile {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 15px; */

  display: inline-block;
  align-items: center;
  margin: 0 2% 0 2%;
  width:45%
}

.form-profile label {
  margin-bottom: 5px; /* Space between label and input */
}

/* ######################## CUSTOMISER ################### */
.form-customiser {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 15px; */

  display: inline-block;
  align-items: center;
  margin: 0 2% 0 2%;
  width:25%
}

.form-customiser label {
  margin-bottom: 5px; /* Space between label and input */
}

/* ######################## FRAIS ################### */
.form-frais {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 15px; */

  display: flex;
  align-items: center;
  margin: 0 2% 0 2%;
  width:45%
}

.form-frais label {
  margin-bottom: 5px; /* Space between label and input */
}



/* making  google captcha responsive  */
.recaptcha-container {
  width: 100%; /* Make the container responsive */
  max-width: 300px; /* Optional: set a maximum width */
  margin: 0 auto; /* Center the reCAPTCHA */
}

.g-recaptcha {
  transform: scale(0.85); /* Scale down initially */
  transform-origin: 0 0; /* Scale from the top-left corner */
}

@media (max-width: 423px) {
  .g-recaptcha {
    transform: scale(0.65); /* Further scale down for smaller screens */
  }
}

@media (max-width: 359px) {
  .g-recaptcha {
    transform: scale(0.50); /* Further scale down for smaller screens */
  }
}


/* full width content */
.full-width-container {
  width: 100%;
  margin: 0;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
  min-height: 278px;
}

/* footer css */

footer {
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}

footer .info h2 {
  margin-bottom: 10px;
}

footer .info p {
  margin: 5px 0;
  color: #333;
}


/* button disable services / pricing page */

.button.disabled {
  background-color: gray;
  color: #ccc;
  pointer-events: none;
  cursor: not-allowed;
}

/* style / css for tables  */

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;   
  vertical-align: middle; 
  padding: 10px; 
  
}

tr:nth-child(even) {
  background-color: #dddddd;
}




/* avatar css for profile page */

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 50px auto;
  
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}



.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
  
}

.avatar_delete{
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;

  width: 33px;
  height: 33px; 
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.avatar-upload .avatar-edit input {
  display: none;   
}


.avatar-upload .avatar-edit label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all .2s ease-in-out;

}

.avatar-upload .avatar-edit label::hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit label::after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}